[submodule "zellij"]
	path = zellij
	url = https://github.com/dmgolembiowski/zellij.git
[submodule "yazzelix-plugin"]
	path = yazzelix-plugin
	url = https://github.com/dmgolembiowski/yazzelix-plugin.git
[submodule "yazi"]
	path = yazi
	url = https://github.com/dmgolembiowski/yazi.git
