[submodule "zellij"]
	path = zellij
	url = https://github.com/dmgolembiowski/zellij.git
[submodule "yazelix-plugin"]
	path = yazelix-plugin
	url = https://github.com/dmgolembiowski/yazelix-plugin.git
[submodule "yazi"]
	path = yazi
	url = https://github.com/dmgolembiowski/yazi.git
